<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body tabindex="-1">
    <!-- Nav bar -->
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto mt-8">
      <div class="bg-blue-800 p-4 rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold">About</h1>
        <p class="mt-2 text-lg">All about me</p>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-6 mt-8">
        <!-- Image -->
        <div class="card bg-blue-800 rounded-lg shadow-lg p-4">
          <figure class="px-10 pt-10">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwDGgKXBpcCztxqJgXlAz6IaLYH0UhhfuBJA&usqp=CAU"
              width="550px"
              alt="Lego Set CHI Worriz"
              class="rounded-xl"
            />
          </figure>
          <br />
        </div>
        <!-- Content -->
        <div class="card bg-blue-800 rounded-lg shadow-lg p-4">
          <p class="mt-2">
            I'm Sasawat Yimleang, a computer programming and analysis student at
            Seneca College in Ontario. Originally from Thailand, I am
            enthusiastic about embracing new challenges and learning through
            continuous growth.
          </p>
          <p class="mt-2">
            I hold a degree in Mechanical Engineering from Thailand, which has
            equipped me with a strong foundation in analytical thinking and
            problem-solving. Currently, I am expanding my knowledge and honing
            my programming skills at Seneca College, where I'm specializing in
            computer programming and analysis.
          </p>
          <p class="mt-2">
            My journey in the world of puzzles began with a fascination for
            Sudoku, a captivating number puzzle that has improved my logical
            thinking and problem-solving skills. As a mechanical engineer, I
            appreciated the precision and order that Sudoku demanded, but my
            love for logical puzzles led me to explore computer programming and
            analysis as a new career path.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
